body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


body::before{
    content: '';
    background-color: rgba(0,0,0, 0.5);
    width: 100%;
    height: 100%;
    position:absolute; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo img{
    height: 45px;
    width: 167px;
}

.cabecalho{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.login__body{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.login__body h2{
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login__body input{
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border:none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
  }

.login__body input:hover{
    background-color: #444;
}

.input__box{
      margin-bottom: 25px;
}

.login__body button{
    height: 50px;
    width: 100%;
    color:#fff;
    background-color: #e50914;
    border-radius: epx;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login__body button:hover{
    background-color: #bf0c0c;
    cursor: pointer;
}

.suporte{
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.suporte input{
    width: 15px;
    height: 15px;
}

.remember{
    display: flex;
    align-items: center;
}

.remember span{
    margin-right: 5px;
    height: 25px;
}

.help a{
    text-decoration: none;
    color: #737373;
}

.help a:hover{
    text-decoration: underline;
}

.login__facebook {
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login__google{
    display: flex;
    align-items: center;
    gap: 1px;
}

.login__google span{
    margin: 5px;
    font-size: 13px;
    }

.login__google span a{
    text-decoration: none;
    color:  #c4c2c2;
    }

.sign__up{
    color: #737373;
    font-size: 16px;
}

.sign__up a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sign__up a:hover{
    text-decoration: underline;
}

.terms{
    color: #333;
}

.terms a{
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover{
    text-decoration: underline;
}


@media (max-width:700px){
    body{
        background-position: center;
    }

    .cabecalho{
        padding: 20px;
    }

    .logo img{
        height: 35px;
        width: auto;
    }

    .login__body{
        width: 90%;
        height: auto;
        padding: 30px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

      .login__body h2{
        font-size: 26px;
    }

    .login__google,
    .login__facebook{
        justify-content: center;
    }

    .login__google span{
        margin: 3px;
        font-size: 12px;
    }

}


